/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    background-color: #eee;
}
.letter{color: white;
    text-decoration: none;
    font-size: x-large;
}


body{
    background-color:rgb(33, 33, 33);
}

@media (max-width:390px){
    main{
        width: initial;
    }
    
    
}    



