#loadContainer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all time;
    -o-transition: all time;
    transition: all time;
    z-index: 1000;
    justify-content: flex-start;
    display: flex;
}

.container{
    margin-bottom: 500px;
}
#load{
    border: 15 px solid #ccc;
    border-top-color: #F4266A;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}