/* Navigation */

.arriba{
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    background-color:rgb(56, 55, 55);
}

.logo{
    height: 50%;
    width: 90%;
}
.itemlista {
    text-align: center;
    background: black;
    text-decoration: none;
    list-style-type: none;
    border-radius: 30px;
    justify-content: space-between;
}


.navlink {
    text-decoration: none;
    text-align: center;
    color: white;
    height: 25px;
}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
}

@media (max-width:390px){
    .itemlista {
        text-align: center;
        background: black;
        padding: 10px;
        text-decoration: none;
        list-style-type: none;
        align-items: center;
        border-radius: 30px;
        justify-content: space-between;
    } 
    .arriba{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        background-color:  rgb(56, 55, 55);
    }
    
}   