/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 150px;
    background-image:url(../../../public/img/Background\ \(1\)\ \(1\).png);
    height: 120px;
}
ul{justify-content: space-between;}
.arriba{display: flex;
    margin: 0%;
    justify-content: space-between;
    text-align: center;
}
.logo{
    height: 50%;
    width: 90%;
}
.itemlista {
    width: 10px;
    height: 35px;
    text-align: center;
    background: black;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
}

.navlink {
    text-decoration: none;
    text-align: center;
    color: white;
    height: 25px;
    width: 10px;
}

.main-nav li,


.main-nav li:first-child {
    font-weight: bold;
}

.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}

h1,h2 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
}