/* footer */
footer {
    background-color:rgb(33, 33, 33);
    text-align: center;
    padding: 40px 0;
    bottom: 0;
}
.abajohijos {
    list-style-type: none;
    line-height: 60px;
}
.letter {
    color: white;
    text-decoration: none;
}
.logomp{
    width: 100%;
    border-radius: 50px;
}

.integrantes {
    display: flex;
    background: black;
    border-start-start-radius: 58px;
    border-start-end-radius: 58px;
    justify-content: center;
    margin: auto;
    border-bottom-left-radius: 58px;
    border-bottom-right-radius: 58px;
    margin-block-end: 20px;
}

@media (max-width:390px){
    .integrantes{
        width: initial;
    }
    .footer{
        width: initial;
    }

    .logomp{
        width: 80vh
    }
}    




