.cajahijapelis{
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    width: 850px;
    text-align: center;
}
.ul {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.itemlista {
    width: 120px;
    height: 35px;
    text-align: center;
    background: black;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    border-radius: 30px;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
        margin: 0%;
        justify-content: space-between;
        text-align: center;
    
}

section {
    flex-wrap: wrap;
    display: flex;
}

.letter_titulo{color: white;
    text-decoration: none;
    font-size: x-large;
}

#titulo2{
    text-decoration: underline;
}

#data{
    font-size: medium;
}

@media (max-width:390px){
    .cajahijapelis{
        width: 80vw;
    }
}    